 *{
     padding: 0%;
     margin: 0%;
     font-family: sans-serif;
     text-decoration: none;
     text-transform: uppercase;
     box-sizing: border-box;
 }
html{
    scroll-behavior: smooth;
    transition: .8s all;
     
}

/* all section ---starts */
 section{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 8rem;
     transition: all .5s;
 }
 section:nth-child(odd){
     background-color: #5e5a5a;
 }
/* all section ---ends */


/* nav start */
 nav{
     background-color: rgb(59, 71, 71);
      width: 100%;
      height: 50px;
      position: fixed;
 }
 nav ul{
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
nav ul li{
     list-style: none;
     line-height: 50px;
 }
 nav ul li a {
     color: white;
     padding: 7px 13px;
     border-radius: 5px;
     transition: all .5s;

 }
/* nav ends */



/* section-1 start */
 .section1{
    background-color: #7B7D7D;
 }
.sm i {
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #3b1111;
    transition: .4s linear;
    position: relative;
}
.sm i::before, .sm i::after{
     
   width: 100%;
   height: 100%;
   position: absolute;
   box-sizing: border-box;
   left: 0;
   top: 0;
   transition: .4s linear;

}
 .sm i:hover{
    transform: scale(.8);
    cursor: pointer;
}
.sm i:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewY(20deg);
}
.sm i:hover::before{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewX(20deg);
}
/* section-1 ends */



/* section-2 start */
.section2 h1{
    font-size: 40px;
    text-transform: uppercase;
}
.section2 span{
    color: rgb(106, 199, 20);
}
/* section-2 ends */



/* section-3 starts */
#sec3{
    background-color: #2c4c5f;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

.nav ul li a{
    font-size: 18px;
    padding: 5px;
    transition: 0.5s all;
    color: white;
    border-radius: 5px;
    position: relative;
    transition: 0.2s;


}
  ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}
ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
ul li a:before{

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #4A235A;
    transition: transform  0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
    

}

ul li a:hover:before{
    transition: transform   0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
/* section-3 ends */


















